<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centling.mapper.blog.BlogsMapper">

    <insert id="insert" parameterType="com.centling.domain.Blogs">

            INSERT INTO blogs (id,blogsName,blogsStatus,blogsDate,blogsClassifyId,blogsClassifyName,userId,userName
            ,createdTime,blogsPart,blogsUrl,profileUrl) values (#{id},#{blogsName},#{blogsStatus},#{blogsDate},#{blogsClassifyId},#{blogsClassifyName},#{userId},#{userName},
            #{createdTime},#{blogsPart},#{blogsUrl},#{profileUrl})
    </insert>
    <select id="seletcClassifyById" parameterType="java.lang.Integer" resultType="java.lang.String">
        select blogsClassifyName from blogsclassify where blogsClassifyId=#{id}
        </select>
    <select id="selectPage" parameterType="java.util.Map" resultType="com.centling.domain.Blogs">
        select id,blogsName,blogsStatus,blogsDate,profileUrl,blogsClassifyId,blogsClassifyName,userId,userName
        ,createdTime,blogsPart ,status ,blogsClick from blogs where deleteFlag=0
        <if test="blogsStatus!=null">
            and blogsStatus=#{blogsStatus}
        </if>
        <if test="status!=null">
            and status=#{status}
        </if>
        <if test="userId!=null">
            and userId=#{userId}
        </if>
        <if test="select!=null">
            and blogsName like concat('%',#{select},'%')
            or blogsClassifyName like concat('%',#{select},'%')
            or userName like concat('%',#{select},'%')
        </if>
        ORDER BY blogsDate desc
    </select>
    <select id="getBlogsById" parameterType="java.lang.String" resultType="com.centling.domain.Blogs">
        select id,blogsName,blogsStatus,blogsDate,blogsClassifyId,blogsClassifyName,userId,userName
        ,createdTime,blogsUrl ,status,blogsClick from blogs where id=#{id} and deleteFlag=0
    </select>
    <update id="addClick" parameterType="java.lang.String">
       UPDATE blogs set blogsClick=blogsClick+1 where id=#{id}
    </update>
    <select id="selectClassId" parameterType="java.lang.String" resultType="java.lang.Integer">
      select blogsClassifyId from blogs where id=#{id}
    </select>
    <select id="addClassClick" parameterType="java.lang.Integer" >
       UPDATE blogsclassify set blogsClassifyClick=blogsClassifyClick+1 where blogsClassifyId= #{id}
    </select>
    <update id="passBlog">
       UPDATE blogs set status=#{status} where id=#{id};
    </update>
    <update id="deleteBlog">
       update  blogs set deleteFlag=1 ,deleteTime=#{deleteTime}  where id=#{id};
    </update>
    <update id="updateBlogs" parameterType="com.centling.domain.Blogs">
       UPDATE blogs set status=#{status},blogsName=#{blogsName},blogsStatus=#{blogsStatus},
       blogsDate=#{blogsDate},blogsClassifyId=#{blogsClassifyId},blogsPart=#{blogsPart},
       blogsClassifyName=#{blogsClassifyName} where id=#{id};
    </update>
<select id="selectTopBlogId" parameterType="java.lang.String" resultType="com.centling.domain.Blogs">
  SELECT id, max(blogsDate),blogsName from blogs  where userId= (SELECT userId from blogs  where id=#{id})
  and  (SELECT blogsDate from blogs  where id=#{id}) > blogsDate and deleteFlag=0 and status=2
</select>
    <select id="selectDownBlogId" parameterType="java.lang.String" resultType="com.centling.domain.Blogs">
  SELECT id, min(blogsDate),blogsName from blogs  where userId= (SELECT userId from blogs  where id=#{id})
  and blogsDate > (SELECT blogsDate from blogs  where id=#{id}) and deleteFlag=0 and status=2
</select>

</mapper>