<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centling.mapper.blog.ProposalMapper">



    <insert id="insert" parameterType="com.centling.domain.Proposal">
            INSERT INTO proposal (userId,userName,creatTime,context,blogId,pid,hasChild,toUserId,toUserName,userProfileUrl) values
            (#{userId},#{userName},#{creatTime},#{context},#{blogId},#{pid},#{hasChild},#{toUserId},#{toUserName},#{userProfileUrl})
    </insert>

    <select id="selectPage" parameterType="java.util.Map" resultType="com.centling.domain.Proposal">
        select * from proposal where 1=1
        <if test="noblog!=null">
            and blogId is null
        </if>
        <if test="blogId!=null">
            and blogId =#{blogId}
        </if>
        <if test="index!=null">
            and pid =0
        </if>
        <if test="pid!=null">
            and pid =#{pid}
        </if>
        ORDER BY creatTime desc
    </select>
    <select id="selectById" parameterType="java.lang.Integer" resultType="com.centling.domain.Proposal">
        select * from proposal where id=#{id}
    </select>
    <select id="selectByPId" parameterType="java.lang.Integer" resultType="com.centling.domain.Proposal">
        select * from proposal where pid=#{id}  ORDER BY creatTime desc
    </select>

    <update id="update" parameterType="com.centling.domain.Proposal">
        UPDATE proposal set answer=#{answer} where id=#{id};
    </update>
    <update id="addPro" parameterType="java.lang.Integer">
        UPDATE proposal set hasChild=1 where id=#{id};
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM proposal where id=#{id} or pid=#{id};
    </delete>
</mapper>