<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centling.mapper.blog.ResouceMapper">

    <insert id="insert" parameterType="com.centling.domain.Resouce">
            INSERT INTO resource (resouceName,profileUrl,resouceUrl,userId,userName,resouceClick,status,creatTime,context) values
            (#{resouceName},#{profileUrl},#{resouceUrl},#{userId},#{userName},#{resouceClick},#{status},#{creatTime},#{context})
    </insert>

    <select id="selectPage" parameterType="java.util.Map" resultType="com.centling.domain.Resouce">
        select * from resource where  deleteFlag=0
        <if test="resouceName!=null">
            and resouceName like concat('%',#{resouceName},'%')
        </if>
        <if test="status!=null">
            and status= #{status}
        </if>
        <if test="userId!=null">
            and userId= #{userId}
        </if>
        ORDER BY creatTime desc
    </select>
    <update id="passResourc">
        UPDATE resource set status=#{status} where id=#{id};
    </update>
    <update id="updateRes" parameterType="com.centling.domain.Resouce">
        UPDATE resource set resouceName=#{resouceName},resouceUrl=#{resouceUrl},
        creatTime=#{creatTime},context=#{context} where id=#{id};
    </update>
    <update id="deleteRe">
        update resource set deleteFlag=1 ,deleteTime=#{deleteTime} where id=#{id};
    </update>

    <update id="addClick" parameterType="java.lang.Integer">
        UPDATE resource set resouceClick=resouceClick+1 where id=#{id};
    </update>
    <select id="selectById" parameterType="java.lang.Integer" resultType="com.centling.domain.Resouce">
        select * from resource  where id=#{id};
    </select>
</mapper>