<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centling.mapper.blog.UserMapper">
        <select id="selectByNameAndUid" resultType="java.lang.Integer">
            select count(1) from user where userName=#{name} and uid=#{uid};
        </select>
    <select id="selectBySourceAndUid" resultType="com.centling.domain.User">
            select * from user where uSource=#{sorce} and uid=#{uid};
        </select>
    <select id="selectById" parameterType="java.lang.Integer" resultType="com.centling.domain.User">
            select * from user where id=#{id};
        </select>
    <insert id="insert" parameterType="com.centling.domain.User">
        INSERT into user (uid,userName,uSource,location,profileUrl,gender,createdTime,passWord,email) values
        (#{uid},#{userName},#{uSource},#{location},#{profileUrl},#{gender},#{createdTime},#{passWord},#{email})
    </insert>
    <select id="selectByNameAndPassWord" parameterType="com.centling.domain.User" resultType="java.lang.Integer">
        select count(1) from user where userName=#{userName} and passWord=#{passWord}
    </select>
    <select id="selectStatusByName" parameterType="java.lang.String" resultType="com.centling.domain.User">
        select * from user where userName=#{userName}
    </select>
    <select id="selectUserBlogClick" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select COALESCE(SUM(blogsClick),0) from blogs where userId=#{id}
    </select>
    <select id="selectUserResourceClick" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select COALESCE(SUM(resouceClick),0) from resource where userId=#{id}
    </select>
    <update id="updateUser" parameterType="com.centling.domain.User">
        UPDATE user set userName=#{userName},location=#{location},profileUrl=#{profileUrl},gender=#{gender},email=#{email},description=#{description}
        where id=#{id}
    </update>
</mapper>